* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    
    background-color: #e9ebea; 
    color: #333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-login {
    display: grid;
    grid-template-columns: 8fr 0.9fr; 
    max-width: 100%;
    border-radius: 0px;
    overflow: hidden; 
    flex:0.5;
}

/*  PANEL IZQUIERDO (BIENVENIDA)  */
.panel-bienvenida {

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;   /* Centra horizontalmente */
    padding: 40px;
    text-align: center;
    
}

.panel-bienvenida .logo {
    width: 300px;
    margin-bottom: 40px;
    
}

.panel-bienvenida h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    
}

.panel-bienvenida p {
    font-size: 29px;
    color: #555;
    max-width: 350px; 
}

/*  PANEL DERECHO (FORMULARIO)  */
.panel-formulario {
   border: 2px;
  border-radius: 8px;
  max-width: 500px;
  background-color: #ffffff;
  background-position-y: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  width: 400%;
}

.panel-formulario form {
    display: flex;
    flex-direction: column;
    width: 130%;
    padding:3rem 6rem;
     
    
}

.panel-formulario h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
    color: #333;
    
}

.campo-formulario {
    margin-bottom: 30px;
    
}

.campo-formulario label {
    
    font-weight: 500;
    margin-bottom: 8px;
    color: #444;
    font-size: 20px;
    
}

.campo-formulario input {
    width: 110%;
    padding: 12px 0px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.campo-formulario input::placeholder {
    color: #aaa;
    padding:20px ;
}

.link-olvido {
    color: #2794be;
    text-decoration: none;
    font-size: 1.3rem;
    margin-bottom: 30px;
    align-self: flex-start;
}

.link-olvido:hover {
    text-decoration: underline;
    
    
}

.btn {
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.1s ease;
    text-align: center;
    text-decoration: none;
    width: 110%;
    
}

.btn-principal {
    background-color: #542e5b; /* Color morado del botón */
    display: block;
    color: white;
    
}

.btn-principal:hover {
    background-color: #432448;
    
    
}

.separador-registro {
    margin-top: 35px;
    
}

.separador-registro p {
    margin-bottom: 25px;
    font-size: 1.4rem;
    color: #555;
}

.btn-secundario {
    background-color: #542e5b;
    color: rgb(255, 252, 252);
    display:center;
    
}

.btn-secundario:hover {
    background-color: #432448;
    
}