* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e9ebea;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-login {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 100%;
    border-radius: 0px;
    overflow: hidden;
    width: 100%;
}

.panel-bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.panel-bienvenida .logo {
    width: 250px;
    margin-bottom: 40px;
}

.panel-bienvenida h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}

.panel-bienvenida p {
    font-size: 1.5rem;
    color: #555;
    max-width: 350px;
}

.panel-formulario {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 2rem 3rem;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.panel-formulario h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.campo-formulario {
    margin-bottom: 20px;
}

.campo-formulario label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #444;
    font-size: 16px;
}

.campo-formulario input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.campo-formulario input::placeholder {
    color: #aaa;
}

.link-olvido {
    color: #2794be;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 30px;
    align-self: flex-start;
}

.link-olvido:hover {
    text-decoration: underline;
}

.btn {
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.1s ease;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/* Botón Principal (Iniciar Sesión) */
.btn-principal {
    background-color: #542e5b; /* Color morado */
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
}

.btn-principal:hover {
    background-color: #432448; /* Color morado más oscuro */
}

/* Botón Secundario (Registrarse) */
.btn-secundario {
    background-color: #542e5b; /* Color azul */
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn-secundario:hover {
    background-color: #432448; /* Azul más oscuro */
}

/* Espaciado y estilo del separador de botones */
.separador-registro {
    margin-top: 25px;
    text-align: center;
}