*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Barra de navegación */
.navbar {
  background-color: #20362e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-family: 'Monserrat' sans-serif;
}

.logo-nav .nav-logo {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: 'Monserrat' sans-serif;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Monserrat' sans-serif;
}

.icono {
  height: 20px;
}

/* Mensaje de éxito */
.mensaje-exito {
  background-color: #DFFFE1;
  color: #27AE60;
  padding: 10px 20px;
  font-weight: 600;
}

/* Contenedor de publicación */
.publicar-container {
  padding: 10px;
}

.publicar-container h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

/* Layout de formulario */
.form-publicar {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* Imagen */
.publicar-imagen {
  flex: 1;
  min-width: 220px;
  padding-top: 3%;
}

.Subir-imagen{
  margin-left: 20%;
  margin-bottom:5%;
}

.imagen-placeholder {
  background-color: #ccc;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-left: 20%;
}

.btn-seleccionar {
  background-color: transparent;
  color: #5a1c74;
  border: 1px solid #5a1c74;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30%;
}

/* Formulario */
.publicar-formulario {
  flex: 1.5;
  min-width: 300px;
  
}

.publicar-formulario form label {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 15px;
}

.publicar-formulario input{
  width: 87%;
  padding: 13px;
  border-radius: 6px;
}

.publicar-formulario select,
.publicar-formulario textarea {
  width: 90%;
  padding: 13px;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: -5px;
}

.publicar-formulario textarea {
  resize: vertical;
  min-height: 90px;
}

/* Estado */
.estado-opciones {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.estado-opciones label {
  font-size: 16px;
}

/* Botón publicar */
.btn-primary {
  background-color: #5a1c74;
  color: #FAFAF5;
  padding: 16px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #3a132f;
}

/* Responsivo */
@media(max-width: 768px) {
  .form-publicar {
    flex-direction: column;
  }
}

.alerta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #58B88D;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: top 0.4s ease, opacity 0.4s ease;
}

.alerta-icono {
  background-color: #00A650;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.alerta.error {
  background-color: #E74C3C;
}

.alerta.error .alerta-icono {
  background-color: #C0392B;
}

.oculto {
  opacity: 0;
  pointer-events: none;
}
