/* General */

*{

  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(0, 0%, 12%);
  color: #FAFAF5;
}

/* Navbar */
.navbar {
  width:-webkit-fill-available;
  position:absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.navbar img {
    height: 80px;
}

.navbar nav a {
  color: #FAFAF5;
  margin-left: 20px;
  padding: 20px;
  text-decoration: none;
  font-family: 'Monserrat'sans-serif;
  font-size: 20px
}

.navbar nav .btn-register {
  color: #FAFAF5;
  font-weight: bold;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(../img/fondo-landing.jpg);
  opacity: 0.5; 
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero .hero-content{
  z-index: 1;
}

.hero-content h1 {
  font-size: 80px;
  color: #FAFAF5;
  margin-bottom: 10px;
  padding-top: 0px;
}

.hero-content p {
  font-size: 30px;
  margin-bottom: 30px;
}

.hero-content .btn-explorar {
  background-color: #5a1c74;
  color: #FAFAF5;
  padding: 12px 60px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.hero-content small {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: #ccc;
}

/* About Section */
.about {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15%;
}

.about h2 {
  color: #8E44AD;
  font-size: 60px;
  margin-bottom: 20px;
  text-align: left;
}

.about p{
    font-size: 20px;
    text-align: justify;
}

/* How It Works Section */
.how-it-works {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.how-it-works h2 {
  color: #8E44AD;
  font-size: 40px;
  margin-bottom: 80px;
  text-align: center;
}

.how-it-works ul {
  list-style: none;
  padding: 0;
}

.how-it-works ul li {
  font-size: 20px;
  margin-bottom: 20px;
  color: #27AE60;
}
